*.exe
*.dll
*.mdb
*.suo
*.pidb
*.user
*.userprefs
bin/
obj/
dbus-sharp-1.0.pc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
configure
config.log
config.status
INSTALL
install-sh
missing
src/AssemblyInfo.cs
tests/%temp%/
tests/TestResult.xml
tests/dbus-sharp.dll.config
xdb.il
xdb.s
